#page4{
    min-height: 100vh;
    width: 100%;


    padding: 0px 60px;

    background: black;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background: black;

}

#about-heading{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    font-size: clamp(22px, 1vw, 25px);

    display: flex;
    gap:10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about-heading h3{
    font-weight: 700;
}

#about-me-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
#about-me-box{
    padding: 20px 0px 20px 20px;


    border: 1px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(228, 228, 228) , transparent);
    border-image-slice: 1;
    border-radius: 20px;

    height: 100%;

     background-color: rgb(29, 29, 29);
    
}


#about-me-box p{
    padding: 20px 20px;
    border-radius: 20px;
    background: linear-gradient(rgb(15, 15, 15),rgb(15, 15, 15));



}

#about-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

#text-arrow{
    color: rgb(197, 197, 197);

    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: brightness(110%);
    filter: contrast(1.6);


}
#logo-line{
    background:linear-gradient(90deg, rgb(199, 199, 199), rgba(0, 0, 0, 0));
    filter: contrast(1.6);

    height: 8px;
    width:100%;
    border-radius: 20px;


}


#skills-percent-container  #about-logo-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 0px;
}





#skills-percent-container  #about-logo-container #logo-line{
    background:linear-gradient(-90deg, rgb(204, 204, 204), rgb(57, 57, 57));
    filter: contrast(1.6);

    height: 2px;
    width: 100%;
}

.skills-logos{
    color:rgb(203, 203, 203);

    width: 25px;
    height: 25px;
    display: flex;

    margin-bottom: 2px;
    border-radius: 50%;
}




#about2-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

#text2-arrow{
    color: rgb(198, 198, 198);

    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: brightness(110%);
    filter: contrast(1.6);


}
#logo2-line{
    background:linear-gradient(-90deg, rgb(195, 195, 195), rgba(0, 0, 0, 0));

    filter: contrast(1.6);

    height: 2px;
    width:100%;
    height: 8px;



}

#skills-percent-container  #about2-logo-container{
    display: flex;
    flex-direction: row;
    gap: 0px;
}






















#skills-percent-container{

    border: 1px solid transparent ;
    border-radius: 20px;

    border-image: linear-gradient(to bottom ,rgb(219, 219, 219) , transparent);
    border-image-slice: 1;
    border-radius: 20px;


    padding: 20px 20px;


    display: flex;
    flex-direction: column;
    gap: 16px;


    min-height: 100%;

    background: rgb(29, 29, 29);

}

#skills-percent-container h3{
    background: transparent;

    border-radius: 13px;
    padding: 7px 20px;
    color: rgb(204, 204, 204);
    font-weight: 400;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.skill-box{
    display: flex;
    flex-direction: column;
    gap: 2px;


    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(rgb(15, 15, 15),rgb(15, 15, 15));
    
}
#skills-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-box h5{
    color: rgb(155, 155, 155);
    font-weight: 200;

    font-size: clamp(11px, 1vw, 17px);



}

.skill-box h6{
    color: rgb(186, 186, 186);
    font-weight: 400;
    font-size: clamp(10px, 1vw, 15px);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items:  center;
}

#percentbox{
    width: 100%;
    height : 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: start;
    align-items: end;


}


#skill-percent{
    width: 78%;
    height : 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;


    background : linear-gradient( 90deg,  rgb(101, 101, 101) , rgb(182, 182, 182)) ;


}

.skill-box:nth-of-type(1) #skill-percent{
    width: 20%;
    height : 100%;
}


.skill-box:nth-of-type(2) #skill-percent{
    width: 90%;
    height : 100%;
}

.skill-box:nth-of-type(3) #skill-percent{
    width: 60%;
    height : 100%;
}

.skill-box:nth-of-type(4) #skill-percent{
    width: 87%;
    height : 100%;
}


.skill-box:nth-of-type(5) #skill-percent{
    width: 65%;
    height : 100%;
}

.skill-box:nth-of-type(6) #skill-percent{
    width: 38%;
    height : 100%;
}

.skill-box:nth-of-type(8) #skill-percent{
    width: 30%;
    height : 100%;
}

#me-text-container{
    display: grid;
    grid-template-columns: 97% 3%;
    gap: 20px;

}

@keyframes me-line {
    from{
        height: 0%;
    }

    to{
        height: 100%;

    }

}

#language-div p{
    margin: 0;
    padding: 0;
}

#me-text-line{

    height: 100%;
    width: 8px;

    border-radius: 20px;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) , rgb(184, 184, 184));
    animation-name: me-line;
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range: entry exit;

}


@media (max-width: 992px) {




#about-me-container{
    display: grid;
    grid-template-rows: 2.3fr 2fr;
    row-gap:20px;
    column-gap:0px ;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
    min-height: min-content;


}

#about-me-box{
    padding: 20px 20px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(218, 218, 218) , transparent);
    border-image-slice: 1;
    border-radius: 20px;

    background: transparent;

    height: min-content;
    background: rgb(29, 29, 29);

}




#skills-percent-container{
    padding: 30px 40px;
    border: 1px solid transparent ;
    border-radius: 20px;

    border-image: linear-gradient(to bottom ,rgb(224, 224, 224) , transparent);
    border-image-slice: 1;
    border-radius: 20px;



    display: flex;
    flex-direction: column;
    gap: 20px;

    min-height: auto;
    margin-bottom: 40px;
    background: rgb(29, 29, 29);

}



.skill-box h5{
    color: rgb(155, 155, 155);
    font-weight: 200;

    font-size: clamp(14px, 1vw, 15px);



}

.skill-box h6{
    color: rgb(186, 186, 186);
    font-weight: 400;
    font-size: clamp(14px, 1vw, 15px);




}


}




@media (max-width: 600px)
{

    #page4{
    min-height:100vh;
    width: 100%;

    padding: 0px 10px;

    background : linear-gradient( 90deg, rgb(19, 19, 19) , rgb(0, 0, 0) , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.953) , rgba(0, 0, 0, 0.978),rgb(0, 0, 0) ,rgb(0, 0, 0) ,   rgb(13, 13, 13)) , url(/public/pexels-enginakyurt-6348909.jpg);

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: black;

}



#about-me-container{
    display: grid;
    grid-template-rows: 2fr 0.7fr;
    row-gap:5px;
    column-gap:0px ;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100VH;
    justify-self: center;


}

#about-me-box{
  
    padding: 20px 20px;

    width: 90%;

    justify-self: center;

    border: 1px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(232, 232, 232) , transparent);
    border-image-slice: 1;
    border-radius: 20px;
    background: rgb(29, 29, 29);


}

.skill-box h5{
    color: rgb(155, 155, 155);
    font-weight: 200;

    font-size: clamp(14px, 1vw, 15px);



}

.skill-box h6{
    color: rgb(186, 186, 186);
    font-weight: 400;
    font-size: clamp(14px, 1vw, 15px);




}




#skills-percent-container{
    padding: 10px 40px;
    border: 1px solid transparent ;
    border-radius: 20px;

    border-image: linear-gradient(to bottom ,rgb(231, 231, 231) , transparent);
    border-image-slice: 1;
    border-radius: 20px;


    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 90%;
    justify-self: center;
    min-height: auto;
    margin-bottom: 40px;

    background: rgb(29, 29, 29);


}



}





@keyframes appear2{
    0%{
        opacity: 0;
        scale: 0;
        transform: translateX(200px);
    }

    40%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    60%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    80%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    100%{
        opacity: 0;
        transform: translateX(200px);
        scale: 0.1;


    }
}


@keyframes appear3{
    0%{
        opacity: 0;
        scale: 0;
        transform: translateX(-500px);
    }

    20%{
        opacity: 0.8;
        transform: translateX(0px);
        scale: 0.8;
    }

    40%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    60%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    80%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    100%{
        opacity: 0;
        transform: translateX(-500px);
        scale: 0.1;


    }
}



@keyframes box-anime {

    0%{
        transform: translateY(500px);


    }

    20%{
        transform: translateY(0);
        

    }

    40%{
        transform: translateY(0);
        

    }

    60%{
        transform: translateY(0);


    }
    80%{
        transform: translateY(0);


    }

    100%{
        transform: translateY(-500px);

    }
    
}






#about-me-box{

    animation-name: box-anime;
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range: entry exit;



}

#skills-percent-container{
    animation-name: box-anime;
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range: entry exit;

}

#about-me-box #logo-line{
        animation-name: appear2;
    animation-timeline: view();
    animation-timing-function: linear;
    /* animation-range: entry cover 40%; */
    animation-delay: 2s;
    animation-range: entry exit;
}



#logo2-line{
    animation-name: appear45;
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range: entry cover 20%;

}

