#page3{
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(black,rgb(5, 25, 3),rgb(0, 0, 0)) ; */

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
            background :   linear-gradient( 90deg, rgb(19, 4, 23) , black , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.192) , rgba(0, 0, 0, 0.145),rgb(0, 0, 0) ,black ,   rgb(2, 17, 5)), url(/public/Untitled-1809809.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: scroll;
    padding: 0px 20px;
    gap: 30px;
    
    animation-name: change-pic;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


@keyframes change-pic {
    0%{

        background :  linear-gradient( 90deg, rgb(19, 4, 23) , black , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.322) , rgba(0, 0, 0, 0.145),rgb(0, 0, 0) ,black ,   rgb(2, 17, 5)) , url(/public/IAMPRIME6.png) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size:auto;
        background-attachment: scroll;

    }   
    
    40%{

        background :  linear-gradient( 90deg, rgb(19, 4, 23) , black , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.322) , rgba(0, 0, 0, 0.145),rgb(0, 0, 0) ,black ,   rgb(2, 17, 5)) , url(/public/Untitled-1234567.png) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        background-attachment: scroll;

    }

    80%{

            background :   linear-gradient( 90deg, rgb(19, 4, 23) , black , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.322) , rgba(0, 0, 0, 0.145),rgb(0, 0, 0) ,black ,   rgb(2, 17, 5)), url(/public/Untitled-1809809.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: scroll;

    }

    100%{
        background :  linear-gradient( 90deg, rgb(19, 4, 23) , black , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.322) , rgba(0, 0, 0, 0.145),rgb(0, 0, 0) ,black ,   rgb(2, 17, 5)) , url(/public/IAMPRIME6.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: scroll;
    }


}


#big-text-container{
    background: transparent;
}


#page3 h1{
    color:rgb(213, 213, 213);
    font-size: clamp(20px, 5vw, 70px);
    font-weight: 800;
}

#page3 h6{
    color: rgb(198, 198, 198);
    font-size: clamp(17px, 2vw, 18px);
    font-weight: 200;

}


#small-text-container{
    width: 30%;
}

#tech-software{

    position: relative;
    top: 100px;
}
#tech-software ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
}


#tech-software ul li a{
    padding: 5px 20px;
    color: rgba(255, 255, 255, 0.81);
    background : linear-gradient( 90deg,  rgb(12, 105, 31) , rgb(41, 8, 50)) ;
    box-shadow: -2px 10px 30px -3px  rgba(19, 177, 51, 0.551);

    border-radius: 20px;
}



