#page2{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;

    background : linear-gradient( 90deg, rgb(4, 23, 9) , black , rgb(0, 0, 0) ,rgb(0, 0, 0) , rgb(0, 0, 0),rgb(0, 0, 0) ,black ,   rgb(4, 23, 9)) ;


      background : linear-gradient( 90deg, rgb(4, 23, 9) , rgb(0, 0, 0) , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.953) , rgba(0, 0, 0, 0.91),rgb(0, 0, 0) ,rgb(0, 0, 0) ,   rgb(4, 23, 9)) , url(/public/pexels-enginakyurt-6348909.jpg);

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



#intro-heading{
    font-size: clamp(22px, 1vw, 25px);
    font-size: clamp(22px, 1vw, 25px);
    font-weight: 700;

    text-align: center;
    color: rgb(201, 201, 201);
    padding: 20px;
}

#page2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}

#box-container{
    max-width: 90%;
    /* margin: auto; */
    padding: 20px;
    display: flex;
    justify-self: center;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    max-width: 320px;
    /* border: 5px solid rgb(2, 22, 3); */
    border-radius: 18px;
    padding: 20px;

    background: linear-gradient(180deg , #00000000 ,  #00000000, rgb(9, 20, 11));
    padding-bottom: 20px;
    cursor: pointer;

    border-bottom: 3px solid rgb(25, 222, 64);
    /* box-shadow: 0px 19px 20px rgba(19, 170, 49, 0.34); */
    box-shadow: -2px 29px 19px -19px  rgba(25, 243, 69, 0.207);
    
    /* box-shadow: inset 0px 10px 20px rgba(19, 170, 49, 0.34);  ill use this some place i like it*/
    transition: all 0.5s ;

    border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgb(25, 222, 64) , transparent , transparent);
    border-image-slice: 1;
}

.box:hover{
    transform: scale(1.06);
    transition: all 0.5s ;
    
}





#box-container p{
    line-height: normal;
    margin: 5px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    /* display: none; */
    font-size: clamp(15px, 4vw, 15px);


    
}

.box-image{
    width: 280px;
    height: 280px;
    

    /* width: 350px;
     height: 350px; */
    display: flex;
    justify-self: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Tree\ official\ 4\ with\ \ filter.jpg); */
    background-position: center;
    background-size: cover;
    
    filter: saturate(1);
    filter: brightness(1.4);
    transition: all 0.5s ;
    box-shadow: 5px 5px 20px  rgb(0, 0, 0);


}

.box:nth-of-type(1) .box-image{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Tree\ official\ 4\ with\ \ filter.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    filter: brightness(1.4);
    
    transition: all 0.5s;
}

.box:nth-of-type(1):hover  .box-image{

    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Untitled-1234567.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.12);

}



.box:nth-of-type(2) .box-image{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/end\ of\ the\ road\ 7.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    filter: brightness(1.4);

    transition: all 0.5s;
}


.box:nth-of-type(2):hover  .box-image{

    background: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0)) , url(/public/sky\ rome\ 3.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.12);

}


.box:nth-of-type(3) .box-image{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/my\ house\ 3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    filter: brightness(1.4);

}

.box:nth-of-type(3):hover .box-image div{
    visibility: hidden;
}

#role-container{
    display: flex  ;
    background : linear-gradient( 90deg,  rgb(12, 105, 31) , rgb(41, 8, 50)) ;
    width : 43% ;
    height : 8% ;
    color: rgb(171, 171, 171);
    justify-content: center;
    align-items: center;
    align-self: end;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -2px 10px 30px -3px  rgba(19, 177, 51, 0.551);
    transition: all 0.03s ;
}
#role-container h5{
    font-weight: 500;

}

.box:nth-of-type(3):hover  .box-image{

    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/empty\ romm1.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.12);

}


.box:nth-of-type(4) .box-image{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/IAMPRIME5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    filter: brightness(1.4);

}

.box:nth-of-type(4):hover  .box-image{

    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Untitdfsdled-1.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.12);

}


.box:nth-of-type(5) .box-image{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/PRIME6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    filter: brightness(1.4);

}

.box:nth-of-type(5):hover  .box-image{

    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/promise\ big\ image.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.12);

}


.box:nth-of-type(6) .box-image{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Untitled-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    filter: brightness(1.4);

}

.box:nth-of-type(6):hover  .box-image{

    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Prime\ glidigital.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.12);

}

#box-container h3{
    text-align: center;
    margin-bottom: 20px ;
    margin-top: 20px;
    font-size: clamp(16px, 4vw, 25px);
    color: rgb(207, 207, 207);
    font-weight: 400;
    transition: all 0.5s;
    padding: 2px 10px;
    /* border-bottom: 1px solid rgb(25, 222, 107); */

    display: flex;
    justify-self: center;
    justify-content: center;
    /* border-radius: 10px; */
    width: 85%;
    border-bottom: 1px solid rgb(16, 172, 57);

    box-shadow: 0 10px 17px -10px  rgba(25, 243, 69, 0.533);
    /* box-shadow: 0px -10px 19px -7px  rgba(224, 224, 224, 0.533); */
    background: transparent;

    
}

#box-container h3:hover{

    transform: scale(1.05);
}
.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-self: center;
    width: 90%;
    justify-content: center;
    margin-top: 20px;
}
.technologies h5{
    border: 1px solid rgb(25, 222, 107);
    border: 1px solid rgb(113, 113, 113);

    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;

    transition: all 0.5s ;

    color: rgb(165, 165, 165);
    color: rgb(145, 194, 142);

    border: 1px solid rgb(15, 111, 34);
    font-weight: 400;

}

.technologies h5:hover{
    color: rgb(203, 203, 203);
    border: 1px solid rgb(25, 222, 64);

}

a{
    text-decoration: none;
}

#box-container a{
    color: rgb(216, 216, 216);
    background-color: rgb(49, 49, 49);
    padding: 5px 25px;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px;

}

@media (max-width: 992px) {


    
    #box-container{
    max-width: 100%;
    /* margin: auto; */
    padding: 5px;
    display: flex;
    justify-self: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


    .box-image{
    /* width: 300px;
    height: 300px;
     */

    width: 190px;
    height: 180px;
    display: flex;
    justify-self: center;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Tree\ official\ 4\ with\ \ filter.jpg);
    background-position: center;
    background-size: cover;
    filter: saturate(1);
    filter: brightness(1.4);
    transition: all 0.5s ;


    }


    .box{
        max-width: 250px;
        /* border: 5px solid rgb(2, 22, 3); */
        border-radius: 19px;
        padding: 10px;

        background: linear-gradient(180deg , #00000000 ,  #0000003d, rgb(9, 20, 11));
        padding-bottom: 20px;
        cursor: pointer;

        border-bottom: 3px solid rgb(25, 222, 64);
        /* box-shadow: 0px 19px 20px rgba(19, 170, 49, 0.34); */
        box-shadow: -2px 29px 19px -19px  rgba(25, 243, 69, 0.207);
        
        /* box-shadow: inset 0px 10px 20px rgba(19, 170, 49, 0.34);  ill use this some place i like it*/
        transition: all 0.5s ;


}


#box-container p{
    line-height: normal;
    margin: 5px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    /* display: none; */
    font-size: clamp(10px, 1vw, 15px);


    
}

#box-container h3{
    text-align: center;
    margin-bottom: 15px ;
    margin-top: 20px;
    font-size: clamp(16px, 1vw, 25px);
    color: rgb(207, 207, 207);
    font-weight: 600;
    transition: all 0.5s;
    padding: 2px 3px;
    /* border-bottom: 1px solid rgb(25, 222, 107); */

    display: flex;
    justify-self: center;
    justify-content: center;
    /* border-radius: 10px; */
    width: 95%;
    border-bottom: 1px solid rgb(16, 172, 57);

    box-shadow: 0 10px 17px -10px  rgba(25, 243, 69, 0.533);
    /* box-shadow: 0px -10px 19px -7px  rgba(224, 224, 224, 0.533); */
    background: transparent;

    
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-self: center;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}


.technologies h5{
    border: 1px solid rgb(25, 222, 107);
    border: 1px solid rgb(113, 113, 113);

    padding: 2px 6px;
    border-radius: 10px;
    font-size: clamp(7px, 1vw, 15px);

 
 
    transition: all 0.5s ;

    color: rgb(165, 165, 165);
    color: rgb(145, 194, 142);

    border: 1px solid rgb(15, 111, 34);
    font-weight: 400;

}


#role-container{
    display: flex  ;
    background : linear-gradient( 90deg,  rgb(12, 105, 31) , rgb(41, 8, 50)) ;
    width : 43% ;
    height : 8% ;
    color: rgb(171, 171, 171);
    justify-content: center;
    align-items: center;
    align-self: end;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -2px 10px 30px -3px  rgba(19, 177, 51, 0.551);
    transition: all 0.03s ;
}
#role-container h5{
    font-size: clamp(7px, 1vw, 15px);

    font-weight: 500;

}

}


@media (max-width: 600px) {

    #box-container{
    max-width: 100%;
    /* margin: auto; */
    padding: 5px;
    display: flex;
    justify-self: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


    .box-image{
    /* width: 300px;
    height: 300px;
     */

    width: 140px;
    height: 140px;
    display: flex;
    justify-self: center;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Tree\ official\ 4\ with\ \ filter.jpg);
    background-position: center;
    background-size: cover;
    filter: saturate(1);
    filter: brightness(1.4);
    transition: all 0.5s ;


    }


    .box{
        max-width: 180px;
        /* border: 5px solid rgb(2, 22, 3); */
        border-radius: 19px;
        padding: 10px;

        background: linear-gradient(180deg , #00000000 ,  #0000003d, rgb(9, 20, 11));
        padding-bottom: 20px;
        cursor: pointer;

        border-bottom: 3px solid rgb(25, 222, 64);
        /* box-shadow: 0px 19px 20px rgba(19, 170, 49, 0.34); */
        box-shadow: -2px 29px 19px -19px  rgba(25, 243, 69, 0.207);
        
        /* box-shadow: inset 0px 10px 20px rgba(19, 170, 49, 0.34);  ill use this some place i like it*/
        transition: all 0.5s ;


}


#box-container p{
    line-height: normal;
    margin: 5px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    /* display: none; */
    font-size: clamp(10px, 1vw, 15px);


    
}

#box-container h3{
    text-align: center;
    margin-bottom: 15px ;
    margin-top: 20px;
    font-size: clamp(16px, 1vw, 25px);
    color: rgb(207, 207, 207);
    font-weight: 600;
    transition: all 0.5s;
    padding: 2px 3px;
    /* border-bottom: 1px solid rgb(25, 222, 107); */

    display: flex;
    justify-self: center;
    justify-content: center;
    /* border-radius: 10px; */
    width: 95%;
    border-bottom: 1px solid rgb(16, 172, 57);

    box-shadow: 0 10px 17px -10px  rgba(25, 243, 69, 0.533);
    /* box-shadow: 0px -10px 19px -7px  rgba(224, 224, 224, 0.533); */
    background: transparent;

    
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-self: center;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}


.technologies h5{
    border: 1px solid rgb(25, 222, 107);
    border: 1px solid rgb(113, 113, 113);

    padding: 2px 6px;
    border-radius: 10px;
    font-size: clamp(7px, 1vw, 15px);

 
 
    transition: all 0.5s ;

    color: rgb(165, 165, 165);
    color: rgb(145, 194, 142);

    border: 1px solid rgb(15, 111, 34);
    font-weight: 400;

}


#role-container{
    display: flex  ;
    background : linear-gradient( 90deg,  rgb(12, 105, 31) , rgb(41, 8, 50)) ;
    width : 43% ;
    height : 8% ;
    color: rgb(171, 171, 171);
    justify-content: center;
    align-items: center;
    align-self: end;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -2px 10px 30px -3px  rgba(19, 177, 51, 0.551);
    transition: all 0.03s ;
}
#role-container h5{
    font-size: clamp(7px, 1vw, 15px);

    font-weight: 500;

}
}





@media (max-width: 380px) {

    #box-container{
    max-width: 100%;
    /* margin: auto; */
    padding: 5px;
    display: flex;
    justify-self: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


    .box-image{
    /* width: 300px;
    height: 300px;
     */

    width: 140px;
    height: 140px;
    display: flex;
    justify-self: center;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.988)) , url(/public/Tree\ official\ 4\ with\ \ filter.jpg);
    background-position: center;
    background-size: cover;
    filter: saturate(1);
    filter: brightness(1.4);
    transition: all 0.5s ;


    }


    .box{
        max-width: 160px;
        /* border: 5px solid rgb(2, 22, 3); */
        border-radius: 19px;
        padding: 10px;

        background: linear-gradient(180deg , #00000000 ,  #0000003d, rgb(9, 20, 11));
        padding-bottom: 20px;
        cursor: pointer;

        border-bottom: 3px solid rgb(25, 222, 64);
        /* box-shadow: 0px 19px 20px rgba(19, 170, 49, 0.34); */
        box-shadow: -2px 29px 19px -19px  rgba(25, 243, 69, 0.207);
        
        /* box-shadow: inset 0px 10px 20px rgba(19, 170, 49, 0.34);  ill use this some place i like it*/
        transition: all 0.5s ;


}


#box-container p{
    line-height: normal;
    margin: 5px 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    /* display: none; */
    font-size: clamp(10px, 1vw, 15px);


    
}

#box-container h3{
    text-align: center;
    margin-bottom: 15px ;
    margin-top: 20px;
    font-size: clamp(14px, 1vw, 25px);
    color: rgb(207, 207, 207);
    font-weight: 600;
    transition: all 0.5s;
    padding: 2px 3px;
    /* border-bottom: 1px solid rgb(25, 222, 107); */

    display: flex;
    justify-self: center;
    justify-content: center;
    /* border-radius: 10px; */
    width: 95%;
    border-bottom: 1px solid rgb(16, 172, 57);

    box-shadow: 0 10px 17px -10px  rgba(25, 243, 69, 0.533);
    /* box-shadow: 0px -10px 19px -7px  rgba(224, 224, 224, 0.533); */
    background: transparent;

    
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-self: center;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}


.technologies h5{
    border: 1px solid rgb(25, 222, 107);
    border: 1px solid rgb(113, 113, 113);

    padding: 2px 6px;
    border-radius: 10px;
    font-size: clamp(6px, 1vw, 15px);

 
 
    transition: all 0.5s ;

    color: rgb(165, 165, 165);
    color: rgb(145, 194, 142);

    border: 1px solid rgb(15, 111, 34);
    font-weight: 400;

}


#role-container{
    display: flex  ;
    background : linear-gradient( 90deg,  rgb(12, 105, 31) , rgb(41, 8, 50)) ;
    width : 43% ;
    height : 8% ;
    color: rgb(171, 171, 171);
    justify-content: center;
    align-items: center;
    align-self: end;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -2px 10px 30px -3px  rgba(19, 177, 51, 0.551);
    transition: all 0.03s ;
}
#role-container h5{
    font-size: clamp(7px, 1vw, 15px);

    font-weight: 500;

}
}


@keyframes box-anime {

    0%{
        opacity: 0;
        transform: translateY(500px);

            border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgba(25, 222, 64, 0) , transparent , transparent);
    border-image-slice: 1;
    }

    20%{
        opacity: 0.6;
        transform: translateY(0);
        
            border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgba(25, 222, 64, 0.501) , transparent , transparent);
    border-image-slice: 1;
    }

    40%{
        opacity: 1;
        transform: translateY(0);
        
            border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgb(25, 222, 64) , transparent , transparent);
    border-image-slice: 1;
    }

    60%{
        opacity: 1;
        transform: translateY(0);

            border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgb(25, 222, 64) , transparent , transparent);
    border-image-slice: 1;
    }
    80%{
        opacity: 0.6;
        transform: translateY(0);

            border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgba(25, 222, 64, 0.284) , transparent , transparent);
    border-image-slice: 1;
    }

    100%{
        opacity: 0;
        transform: translateY(-500px);

            border: 1px solid transparent;
    border-image: linear-gradient(to top ,rgba(25, 222, 64, 0) , transparent , transparent);
    border-image-slice: 1;
    }
    
}


.box{
    animation-name: box-anime;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry exit;
}


@keyframes box-image-anime {

    0%{
        opacity: 0;
        scale: 0;
    }

    20%{
        opacity: 0.8;
        scale: 0.4;
        
    }

    40%{
        opacity: 1;
        scale: 1;
        
    }

    60%{
        opacity: 1;
        scale: 1;
    }
    80%{
        opacity: 0.8;
        scale: 1;
    }

    100%{
        opacity: 0;
        scale: 0;
    }
    
}


.box-image{

    animation-name: box-image-anime;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry exit;

}
