#page1{
    min-height: 100vh;
    width: 100%;

    background : linear-gradient( 90deg, rgb(4, 23, 9) , black , rgb(0, 0, 0) ,rgb(0, 0, 0) , rgb(0, 0, 0),rgb(0, 0, 0) ,black ,   rgb(4, 23, 9)) ;
    background : linear-gradient( 90deg, rgb(4, 23, 9) , rgb(0, 0, 0) , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.953) , rgba(0, 0, 0, 0.978),rgb(0, 0, 0) ,rgb(0, 0, 0) ,   rgb(4, 23, 9)) , url(/public/pexels-enginakyurt-6348909.jpg);

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: max-content;

}

.gradient-text {

  /* Gradient colors */
  background: linear-gradient(90deg,rgb(14, 137, 38), rgb(1, 197, 82), rgb(1, 133, 1), rgb(19, 145, 44));
  
  /* Make gradient visible only on text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animation setup */
  background-size: 300%;
  animation: moveGradient 4s linear infinite;
}

/* Move gradient left → right */
@keyframes moveGradient {
  0%   { background-position: 0%; }
  100% { background-position: 100%; }
}




nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    gap: clamp(20px, 4vw, 60px);
    visibility: visible;
    transition: all 0.5s;

}

nav ul li a{
    text-decoration: none;
    color: rgb(201, 201, 201);
    /* font-size: clamp(14px, 2vw, 17px); */
    font-size: clamp(15px, 1.1vw, 18px);

    font-weight: 300 ;
    transition: all 0.5s;

}
.hover-link {
  position: relative;
  text-decoration: none;

    color: rgb(201, 201, 201);

}


.hover-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 2px;
  background-color:  rgb(25, 222, 64);
  transition: width 0.3s ease;
}


.hover-link:hover::after {
  width: 100%;
}


nav ul li a:hover{
    color: rgb(112, 23, 207);
    color: rgb(0, 153, 255);
    color: rgb(25, 222, 107);
  cursor: pointer;
    text-shadow: 0 0 2px rgb(25, 222, 107),
               0 0 20px rgb(25, 222, 107),
               0 0 60px rgb(25, 222, 107);

}

nav section{
    display: flex;
    align-items: center;
    gap: 13px;

}

nav section h3{
    /* color: rgb(0, 153, 255); */
    color: rgb(25, 222, 107);
    color: rgb(201, 201, 201);


}

nav img{
    height: 50px;
    width: 50px;
    transition: all 0.3s ease;

}

nav img:hover{
    cursor: pointer;

    transform: scale(1.12);
}


h1{
    color: black;
}

#more-icon{
    visibility:hidden;
}

#main{

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 95%;
    margin: 0px auto;
    padding: 0px 20px;
    align-items: center;

}

#my-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-picture{
    display: flex;
    justify-content: center;

}


#intro-text{
    font-size: clamp(17px, 2vw, 90px);
    
    color: rgb(201, 201, 201);
    transition: all 0.5s;
    font-weight: 300;
}





div h2{
    color: rgb(201, 201, 201);
    font-size: clamp(20px, 4vw, 90px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    color: rgb(19, 177, 50);
    margin: 25px 0px;


}

div h3{
    color: rgb(201, 201, 201);


}

div p{
    color: rgb(201, 201, 201);
    margin: 25px 0px;
    line-height: 29px;
    font-weight: 300 ;

}
#me{
    height: 600px;
  filter: brightness(110%);
  transition: all 0.5s;
}


#me:hover{
  cursor: pointer;
  transform: scale(1.03) ;
  filter: brightness(80%);
}




#skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0px;
}

.skills{
    color: rgb(220, 220, 220);
    color: black;
    color: rgb(25, 222, 107);
    font-size: clamp(11px, 0.9vw, 17px);

    text-decoration: none;
    /* background-color:rgb(0, 153, 255) ; */
    /* background-color:rgb(82, 82, 82) ; */
    border: 2px solid rgb(25, 222, 107);
    border: 2px solid rgb(19, 177, 50);

    margin-right: 15px;
    padding: 5px 15px;
    border-radius: 18px;
  transition: all 0.3s;

}

.skills:hover{
  transform: scale(1.04);
    color: rgb(25, 222, 64);
    border: 2px solid rgb(25, 222, 64);

}

.skills:nth-of-type(1){
  color: rgb(220, 220, 220);
  font-weight: bold;
  /* font-style: italic; */


}



#view-work-btn{

    /* color: rgb(220, 220, 220);
    color: black;
    color: rgb(220, 220, 220);


    font-weight: bolder;
    background-color:rgb(13, 125, 60) ;
    background: linear-gradient(130deg  , rgb(4, 40, 11) ,rgb(19, 177, 50));



    font-size: clamp(16px, 1vw, 18px);
  */


    margin-right: 15px;
    padding: 10px 27px;
    border-radius: 18px;
    transition: all 0.3s; 


}


#about-logos-container{
    margin-top: 65px ;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;


}

#text-arrows{
    color: rgb(116, 116, 116);
    color: rgb(17, 192, 17);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: brightness(110%);
    filter: contrast(1.6);
 display: none;

}

#logos-line{
    background:linear-gradient(90deg, rgb(17, 192, 17), rgb(5, 36, 14), rgb(5, 36, 14)  , rgb(17, 192, 17));
    /* background:linear-gradient(90deg, rgb(199, 199, 199), rgb(57, 57, 57) , rgb(0, 0, 0)  , rgb(57, 57, 57)  , rgb(196, 196, 196)); */
    background-size: 400% 400%;
    filter: contrast(1.6);

    height: 1px;
    width:100%;
    display: none;

}






/* ===== TABLET VIEW (max 992px) ===== */
@media (max-width: 992px) {

    #page1{
    min-height: 100vh;
    width: 100%;
    background-color: #000;

    /* background: linear-gradient(140deg ,rgb(3, 48, 19),  #000000 ,  #000000, #000000 ,#000000 , #000000,rgb(3, 48, 19)); */


    background-color: black;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.368), rgba(0, 0, 0, 0.96)), url("/promise big image 2.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;  */


    }

    #more-icon{
        visibility:visible;
    }


    
nav{
    height: 60px;
}


    nav ul {
        visibility: hidden;
        display: none;

    }

    
nav img{
    height: 35px;
    width: 35px;
    transition: all 0.3s ease;

}

div h2{
    margin: 10px 0px;

}

div p{
  margin-top: 6px;
}



  #main{
    display: grid;
    padding: 0px 20px;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
}

  #content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 0px 20px;
    /* width: 650px; */


  }
  #skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

   #content-box p{
    text-align: center;
    margin: 15px 0px;

   }


  .skills {
    margin-bottom: 7px;
    font-size: clamp(12px, 0.9vw, 17px);

  }

  #my-picture{
    /* display: none; */
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 0px auto;   
    width:max-content;

}

  #me {
    height: 450px;
    /* display: none; */
    
  }


#my-content{
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    /* width: 200%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;

}




#about-logos-container{
    margin-top: 65px ;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    width: 80vw;

}

#text-arrows{
    color: rgb(116, 116, 116);
    color: rgb(17, 192, 17);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: brightness(110%);
    filter: contrast(1.6);


}

#logos-line{
    background:linear-gradient(90deg, rgb(17, 192, 17), rgb(57, 57, 57) , rgb(0, 0, 0)  , rgb(57, 57, 57)  , rgb(17, 192, 17));

    filter: contrast(1.6);

    height: 2px;
    width:100%;
}


#intro-text{
    font-size: clamp(23px, 2vw, 90px);
}



div h2{
    font-size: clamp(22px, 5vw, 90px);

}

}


/* ===== MOBILE VIEW (max 600px) ===== */
@media (max-width: 600px) {

    #page1{
    min-height: 100vh;
    width: 100%;
    background-color: #000;

    /* background: linear-gradient(140deg ,rgb(3, 48, 19),  #000000 ,  #000000, #000000 ,#000000 , #000000,rgb(3, 48, 19)); */


    background-color: black;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.368), rgba(0, 0, 0, 0.96)), url("/promise big image 2.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;  */


    }

    #more-icon{
        visibility:visible;
    }


    
nav{
    height: 60px;

}


    nav ul {
        visibility: hidden;
        display: none;

    }

    
nav img{
    height: 35px;
    width: 35px;
    transition: all 0.3s ease;

}

div h2{
    margin-top: 5px ;
    margin-bottom: 0px;
    font-size: clamp(30px, 5vw, 90px);

}
#content-box p{
    text-align: center;
    margin: 15px 0px;

   }

div p{
  margin-top: 6px;
  font-size: clamp(14px, 0.9vw, 17px);

}

#skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2px 0px;
    justify-content: center;

}



  #main{
    display: grid;
    padding: 0px 5px;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-self: center;
}

  #me {
    height: 350px;
    /* display: none; */
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills {
    margin-bottom: 2px;
    font-size: clamp(9px, 0.9vw, 17px);

    margin-right: 6px;
    padding: 5px 8px;
  }

  #my-picture{
    /* display: none; */
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    display: flex;
    justify-content: center;
    height: 300px;
}

#my-content{
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    justify-content: center;

}

  #content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;


  }

#view-work-btn{
/* 
    color: rgb(220, 220, 220);
    color: black;
    color: rgb(220, 220, 220);

    margin-top: 20px ;

    font-weight: bolder;
    text-decoration: none;
    background-color:rgb(13, 125, 60) ;
    background-color:rgb(82, 82, 82) ; 
    background: linear-gradient(130deg  , rgb(3, 48, 19) ,rgb(11, 148, 59));

    margin-right: 15px;
    padding: 5px 16px;
    border-radius: 18px;

    font-size: clamp(14px, 1vw, 18px);
  display: inline-flex;
  align-items: center; */

  width: 80vw;
  padding: 0px;
}



#about-logos-container{
    margin-top: 65px ;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;

}

#text-arrows{
    color: rgb(116, 116, 116);
    color: rgb(17, 192, 17);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: brightness(110%);
    filter: contrast(1.6);


}

#logos-line{
    background:linear-gradient(90deg, rgb(17, 192, 17), rgb(57, 57, 57) , rgb(0, 0, 0)  , rgb(57, 57, 57)  , rgb(17, 192, 17));

    filter: contrast(1.6);

    height: 2px;
    width:100%;
}







}

@keyframes  image-anime {
    from{
        scale: 1;
        opacity: 1;
    }

    to{
        scale: 0.7;
        opacity: 0.4;

    }
    
}


#me{
    animation-name: image-anime;
    animation-range: exit 10%;
    /* animation-duration: 2s; */
    animation-timeline: view();
    animation-timing-function:ease-out;

}


@keyframes  all-text-anime {
    from{
        scale: 1;
        opacity: 1;
    }

    to{
        scale: 0.7;
        opacity: 0.4;

    }
    
}


#content-box h1, h2 {
    animation-name: all-text-anime;
    animation-range: exit 0;
    /* animation-duration: 2s; */
    animation-timeline: view();
    animation-timing-function:ease-out;

}

#skills-container{
     animation-name: image-anime;
    animation-range: exit 0;
    /* animation-duration: 2s; */
    animation-timeline: view();
    animation-timing-function:ease-out;


}



#about-logos-container{
    animation-name: all-text-anime;
    animation-range: exit 0;
    /* animation-duration: 2s; */
    animation-timeline: view();
    animation-timing-function:linear;
}


@keyframes  skills-anime {
    from{
        /* filter: blur(9px); */
        transform: translateX(-200px);
    }

    to{
        /* filter: blur(0px); */
        transform: translateX(0);

    }
    
}

.skills{

        animation-name: skills-anime;
    /* animation-range: entry exit; */
    animation-duration: 0.5s;
    /* animation-timeline: view(); */
    animation-timing-function:linear;

}




@keyframes  paragraph-anime {
    from{
        /* filter: blur(9px); */
        scale: 0;
    }

    to{
        /* filter: blur(0px); */
        scale: 1;

    }
    
}

#content-box p{

    animation-name: paragraph-anime;
    /* animation-range: entry exit; */
    animation-duration: 1s;
    /* animation-timeline: view(); */
    animation-timing-function:linear;
    transition: all 0.5s;
}

@keyframes move-around {
    0%{
        background-position: 0% 50%;
    }


    25%{
        background-position: 50% 50%;

    }

    50%{
        background-position: 100% 50%;


    }

    75%{
        background-position: 50% 50%;

    }

    100%{
        background-position: 0% 50%;



    }
}


#logos-line{

    animation-name:move-arounda ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    

}

