#page4{
    min-height: 100vh;
    width: 100%;

    background : linear-gradient( 90deg, rgb(19, 4, 23) , black , rgb(0, 0, 0) ,rgb(0, 0, 0) , rgb(0, 0, 0),rgb(0, 0, 0) ,black ,   rgb(13, 2, 17)) ;
    background : linear-gradient( 90deg, rgb(4, 23, 9) , black , rgb(0, 0, 0) ,rgb(0, 0, 0) , rgb(0, 0, 0),rgb(0, 0, 0) ,black ,   rgb(4, 23, 9)) ;

    padding: 0px 60px;
}

#about-heading{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    font-size: clamp(22px, 1vw, 25px);

    display: flex;
    gap:10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about-heading h3{
    font-weight: 700;
}

#about-me-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
#about-me-box{
    padding: 20px 20px;


    /* background: rgb(15, 15, 15); */
    background: linear-gradient( 180deg , rgb(2, 2, 2) , transparent );
    /* border: 6px solid rgb(12, 12, 12); */
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(25, 222, 64) , transparent);
    border-image-slice: 1;
    border-radius: 20px;

    height: 100%;


}


#about-me-box p{
    /* background: linear-gradient(rgb(13, 13, 13),rgb(13, 13, 13)); */
    padding: 0px 20px;
    border-radius: 20px;


}

#about-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

#text-arrow{
    color: rgb(116, 116, 116);
    color: rgb(17, 192, 17);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: brightness(110%);
    filter: contrast(1.6);


}
#logo-line{
    background:linear-gradient(90deg, rgb(17, 192, 17), rgb(57, 57, 57));
    filter: contrast(1.6);

    height: 2px;
    width:100%;
}

#skills-percent-container  #about-logo-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 0px;
}

#skills-percent-container  #about-logo-container #logo-line{
    background:linear-gradient(-90deg, rgb(17, 192, 17), rgb(57, 57, 57));
    filter: contrast(1.6);
    
    height: 2px;
    width: 100%;
}

#skills-percent-container{

    border: 1px solid transparent ;
    border-radius: 20px;

    border-image: linear-gradient(to bottom ,rgb(25, 222, 64) , transparent);
    border-image-slice: 1;
    border-radius: 20px;
    

    padding: 20px 20px;

    /* border: 6px solid rgb(12, 12, 12); */

    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient( 180deg , rgb(2, 2, 2) , transparent );

    /* box-shadow:   2px -15px 25px 5px  rgba(22, 91, 10, 0.179);  */

    min-height: 100%;
    overflow-y:auto;



}

#skills-percent-container h3{
    background :  rgb(0, 0, 0) ;
    border-radius: 13px;
    padding: 7px 20px;
    color: rgb(204, 204, 204);
    font-weight: 400;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.skill-box{
    display: flex;
    flex-direction: column;
    gap: 2px;

    /* box-shadow:   5px 5px 25px 5px  rgba(243, 25, 232, 0.099);  */
    /* border: 1px solid rgb(25, 222, 107); */

    border-radius: 20px;
    padding: 20px;
    /* background-color: rgb(14, 14, 14); */
    background: linear-gradient(rgb(15, 15, 15),rgb(15, 15, 15));

}
#skills-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-box h5{
    color: rgb(155, 155, 155);
    font-weight: 200;
    /* font-size: clamp(11px, 0.9vw, 66px); */

    font-size: clamp(11px, 1vw, 17px);



}

.skill-box h6{
    color: rgb(186, 186, 186);
    font-weight: 400;
    /* font-size: clamp(14px, 1vw, 90px); */
    font-size: clamp(10px, 1vw, 15px);




}

#percentbox{
    width: 100%;
    height : 5px;
    border-radius: 8px;
    background-color: rgb(189, 189, 189);
    display: flex;
    justify-content: start;
    align-items: end;
     /* box-shadow:   5px 5px 25px 5px  rgba(25, 243, 101, 0.319);  */


}


#skill-percent{
    width: 80%;
    height : 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;


    background-color: rgb(20, 149, 59);
    background : linear-gradient( 90deg,  rgb(20, 149, 65) , rgb(123, 16, 173)) ;
    background : linear-gradient( 90deg,  rgb(13, 102, 44) , rgb(26, 173, 16)) ;


}

.skill-box:nth-of-type(1) #skill-percent{
    width: 90%;
    height : 100%;
}


.skill-box:nth-of-type(2) #skill-percent{
    width: 30%;
    height : 100%;
}

.skill-box:nth-of-type(3) #skill-percent{
    width: 60%;
    height : 100%;
}

.skill-box:nth-of-type(4) #skill-percent{
    width: 50%;
    height : 100%;
}


.skill-box:nth-of-type(5) #skill-percent{
    width: 65%;
    height : 100%;
}

.skill-box:nth-of-type(6) #skill-percent{
    width: 78%;
    height : 100%;
}


@media (max-width: 992px) {




#about-me-container{
    display: grid;
    grid-template-rows: 2.3fr 2fr;
    row-gap:20px;
    column-gap:0px ;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
    min-height: min-content;


}

#about-me-box{
    padding: 20px 20px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(25, 222, 64) , transparent);
    border-image-slice: 1;
    border-radius: 20px;


    /* background: linear-gradient(rgb(15, 15, 15),rgb(3, 3, 3));  */
    /* background: linear-gradient(-140deg, rgb(5, 20, 10), rgb(15, 15, 15), rgb(15, 15, 15) , rgb(15, 15, 15),  rgb(15, 15, 15),  rgb(15, 15, 15), rgb(5, 20, 10));  */

    /* background: linear-gradient(180deg , #000000 ,  #000000, rgb(18, 18, 18)); */

    background: rgb(15, 15, 15);
    background: linear-gradient( 180deg , rgb(2, 2, 2) , transparent );

    height: min-content;

}




#skills-percent-container{
    padding: 30px 40px;
    border: 1px solid transparent ;
    border-radius: 20px;

    border-image: linear-gradient(to bottom ,rgb(25, 222, 64) , transparent);
    border-image-slice: 1;
    border-radius: 20px;
    


    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient( 180deg , rgb(2, 2, 2) , transparent );
    background: rgb(2, 2, 2);

    min-height: auto;
    overflow-y:auto;

}



.skill-box h5{
    color: rgb(155, 155, 155);
    font-weight: 200;
    /* font-size: clamp(11px, 0.9vw, 66px); */

    font-size: clamp(14px, 1vw, 15px);



}

.skill-box h6{
    color: rgb(186, 186, 186);
    font-weight: 400;
    /* font-size: clamp(14px, 1vw, 90px); */
    font-size: clamp(14px, 1vw, 15px);




}


}




@media (max-width: 600px)
{

    #page4{
    min-height:100vh;
    width: 100%;

    background : linear-gradient( 90deg, rgb(4, 23, 9) , black , rgb(0, 0, 0) ,rgb(0, 0, 0) , rgb(0, 0, 0),rgb(0, 0, 0) ,black ,   rgb(4, 23, 9)) ;
    padding: 0px 10px;
}



#about-me-container{
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap:5px;
    column-gap:0px ;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100VH;
    justify-self: center;


}

#about-me-box{
    /* padding: 0px 20px;
    border-radius: 20px;

    background: rgb(15, 15, 15);
    background: rgb(2, 2, 2);
    border: 6px solid rgb(12, 12, 12);

    height: min-content; */
    padding: 20px 20px;

    width: 90%;
    background: linear-gradient( 180deg , rgb(2, 2, 2) , transparent );

    justify-self: center;

    border: 1px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(25, 222, 64) , transparent);
    border-image-slice: 1;
    border-radius: 20px;

}

.skill-box h5{
    color: rgb(155, 155, 155);
    font-weight: 200;
    /* font-size: clamp(11px, 0.9vw, 66px); */

    font-size: clamp(14px, 1vw, 15px);



}

.skill-box h6{
    color: rgb(186, 186, 186);
    font-weight: 400;
    /* font-size: clamp(14px, 1vw, 90px); */
    font-size: clamp(14px, 1vw, 15px);




}




#skills-percent-container{
    padding: 10px 40px;
    border: 1px solid transparent ;
    border-radius: 20px;

    border-image: linear-gradient(to bottom ,rgb(25, 222, 64) , transparent);
    border-image-slice: 1;
    border-radius: 20px;
    

    display: flex;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient( 180deg , rgb(2, 2, 2) , transparent );
    background: rgb(2, 2, 2);
    width: 90%;
    justify-self: center;
    min-height: auto;

}



}
