#page3{
    min-height: 100vh;
    width: 100%;
    background : linear-gradient( 90deg, rgb(4, 23, 9) , rgb(0, 0, 0) , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.953) , rgba(0, 0, 0, 0.91),rgb(0, 0, 0) ,rgb(0, 0, 0) ,   rgb(4, 23, 9)) , url(/public/pexels-enginakyurt-6348909.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px 0px;
    background : linear-gradient( 90deg, rgb(19, 19, 19) , rgb(0, 0, 0) , rgb(0, 0, 0) ,rgba(0, 0, 0, 0.953) , rgba(0, 0, 0, 0.978),rgb(0, 0, 0) ,rgb(0, 0, 0) ,   rgb(13, 13, 13)) , url(/public/pexels-enginakyurt-6348909.jpg);

}


/* BOX CSS  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* @keyframes appear3{
    0%{
        opacity: 0;
        scale: 0;
        transform: translateX(-500px);
    }

    20%{
        opacity: 0.8;
        transform: translateX(0px);
        scale: 0.8;
    }

    40%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    60%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    80%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }

    100%{
        opacity: 0;
        transform: translateX(-500px);
        scale: 0.1;


    }
}
 */


@keyframes box-anime {

    0%{
        opacity: 0;
        transform: translateY(500px);


    }

    20%{
        opacity: 0.4;
        transform: translateY(0);
        

    }

    40%{
        opacity: 1;
        transform: translateY(0);

    }

    60%{
        opacity: 1;
        transform: translateY(0);


    }
    80%{
        opacity: 0.4;
        transform: translateY(0);

    }

    100%{
        opacity: 0;
        transform: translateY(-500px);
    }
    
}


@keyframes box-anime {

    0%{
        transform: translateY(500px);


    }

    20%{
        transform: translateY(0);
        

    }

    40%{
        transform: translateY(0);
        

    }

    60%{
        transform: translateY(0);


    }
    80%{
        transform: translateY(0);


    }

    100%{
        transform: translateY(-500px);

    }
    
}





#web-box{
    background: transparent;
    max-width: 730px;
    margin: auto;

/*  border: 6px solid rgb(12, 12, 12); */
    border: 2px solid transparent;
    border-image: linear-gradient(to top ,rgb(186, 186, 186) , transparent , transparent);
    border-image-slice: 1;
    box-shadow: -2px 29px 19px -19px  rgba(251, 251, 251, 0.207);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  background-color: rgb(29, 29, 29);



    /* animation-name: appear2; */
    animation-name:box-anime;

    animation-timeline: view();
    animation-timing-function: linear;
    animation-range: entry exit;
}


#web-image-container{


    display: flex;
    width: 100%;                        
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;

}


#web-image-tech-stack ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap:wrap ;
}

#web-image-tech-stack ul li{
    color: rgb(140, 195, 136);
    color: rgb(237, 237, 237);

    background: transparent;
    border: 1px solid rgb(7, 191, 7);
    border: 1px solid rgb(106, 106, 106);

    border-radius: 18px;
    padding: 2px 15px;
    font-size: 11px;
}




#web-image-text{
    padding: 0px 60px;
    padding-bottom: 20px;

}


#web-image-text #heading-con1{
    display: flex;
    align-items: center;
    color: rgb(201, 201, 201);

}

#web-image-text #heading-con1 h1{
    color: rgb(201, 201, 201);


}

#heading-line{
       background:linear-gradient(-90deg,  rgba(0, 0, 0, 0) ,  rgb(17, 192, 17), rgba(0, 0, 0, 0));
       background:linear-gradient(-90deg,  rgba(0, 0, 0, 0) ,  rgb(202, 202, 202), rgba(0, 0, 0, 0));

    filter: contrast(1.6);

    width:100%;
    height: 2px;
}

#web-image-text  h4{
    color: rgb(201, 201, 201);

}

#web-image-text h5{
    color: rgb(177, 177, 177);
    
    font-size: 18px;

}


#logo-with-line-con{
    display: flex;
    align-items: center;
    width: 90%;
}

#my-logo-small{


    width: 35px;
    height: 35px;
    /* border-radius: 50%;x` */
    filter: brightness(110%);
    filter: contrast(1.6);
}




#visit-container{
    display: flex;
    align-items: center;
}



#visit-button-image{
    color: white;
    width: 30px;
    height: 30px;

}
#visit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background: transparent;
    border-radius: 5px;
    padding: 3px 30px;
    gap: 10px;
    background: rgb(17, 192, 17);
    background: rgb(76, 76, 76);

    font-weight: bold;
    transition: all 0.4s ;

}



#visit-button:hover{
    scale: 1.1;
}



















/* BOX CSS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#all-page3-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}


#all-web-box-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    
}



@keyframes appear-arrow {

    0%{
        transform: translateY(500px);


    }

    20%{
        transform: translateY(0);
        

    }

    40%{
        transform: translateY(0);

    }

    60%{
        transform: translateY(0);


    }
    80%{
        transform: translateY(0);

    }

    100%{
        transform: translateY(-500px);
    }
    
}



#box-down-arrow{
    display: flex;
    justify-content: center;

    
    animation-name: appear-arrow;
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range: entry exit;
}

#d-arrow{
    height: 30px;
    width: 30px;
    color: rgb(202, 202, 202);

}

#page3-intro{
    display: flex;
    justify-content: center;
    font-size: clamp(20px, 1vw, 25px);

}

#page3-line{
  width: 8px;
  height: 200vh; 
  border-radius: 20px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgb(191, 191, 191),
    rgb(200, 200, 200),
    rgb(223, 223, 223)
  );

  animation: page-line linear;
  animation-timeline: view();      /* link animation to scroll */
  animation-range: entry  exit ;
}

@keyframes page-line {
  from {
    height: 0vh;
  }
  to {
    height:200vh;
  }
}








/* VISIT PORTFOLIO ---------------------------------------------------------------------- */

#view-portfolio-container{

    border: 2px solid transparent;
    border-image: linear-gradient(to bottom ,rgb(212, 212, 212) , transparent , transparent);
    border-image-slice: 1;

    /* border: 1px solid rgb(17, 192, 17); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    align-items: center;
  background: linear-gradient( rgb(29, 29, 29), rgb(29, 29, 29), black);
    
    /* border-radius: 18px; */
    /* background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)); */
}


#all-web-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

#all-web-logos img{
    height: 50px;
    width: 50px;
    box-shadow: -2px 19px 19px -10px  rgba(117, 117, 117, 0.733);
    background: transparent;
    border-radius: 50%;
}

#view-portfolio-container a{
    background: rgb(76, 76, 76);
    border-radius: 18px;

    color: white;
    font: 900;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    transition: all 0.4s ;

}

#view-portfolio-container a:hover{
    scale: 1.1;
}




/* VISIT PORTFOLIO ---------------------------------------------------------------------- */









@media (max-width: 992px) {

#web-box{

    max-width: 330px;
  background-color: rgb(29, 29, 29);
    
}


#web-image-tech-stack ul{
    justify-content: center;

    gap: 9px;
}

#web-image-text{
    padding: 0px 20px;
    padding-bottom: 20px;

}

/* #web-image-container{
    width: 100%;
    height: 150px;
} */


#all-page3-container{

    gap: 10px;

}
#visit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background: transparent;
    border-radius: 5px;
    padding: 3px 30px;
    gap: 10px;
    background: rgb(77, 77, 77);

    font-weight: bold;
    transition: all 0.4s ;

}


}




@media (max-width: 992px) {

#web-box{

    max-width: 630px;
    
}


#web-image-tech-stack ul{
    justify-content: center;

    gap: 9px;
}

#web-image-text{
    padding: 0px 20px;
    padding-bottom: 20px;

}

/* #web-image-container{
    width: 100%;
    height: 150px;
} */


#all-page3-container{

    gap: 10px;

}


}

@media (max-width: 600px) {


    

#web-box{
    background: transparent;
    max-width: 370px;
    margin: auto;
  background-color: rgb(29, 29, 29);

}



#view-portfolio-container{

    max-width: 370px;

}


#all-web-logos img{
    height: 39px;
    width: 39px;
    box-shadow: -2px 19px 19px -10px  rgba(25, 243, 69, 0.956);
    background: transparent;
    border-radius: 50%;
}


#visit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background: transparent;
    border-radius: 5px;
    padding: 3px 30px;
    gap: 10px;
    background: rgb(17, 192, 17);
    font-weight: bold;
    transition: all 0.4s ;

}


}



@media (max-width: 405px) {

    

#web-box{
    background: transparent;
    max-width: 340px;
    margin: auto;
  background-color: rgb(29, 29, 29);

}



#view-portfolio-container{

    max-width: 340px;

}


#all-web-logos img{
    height: 35px;
    width: 35px;
    box-shadow: -2px 19px 19px -10px  rgba(25, 243, 69, 0.956);
    background: transparent;
    border-radius: 50%;
}

}



@media (max-width: 370px) {


    
#web-box{
    background: transparent;
    max-width: 300px;
    margin: auto;
  background-color: rgb(29, 29, 29);

}



#view-portfolio-container{

    max-width: 300px;

}


#all-web-logos img{
    height: 30px;
    width: 30px;
    box-shadow: -2px 19px 19px -10px  rgba(25, 243, 69, 0.956);
    background: transparent;
    border-radius: 50%;
}



}